<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Mini Project</title>
</head>

<body>
    <div class="container my-4">
        <div>
            <h1 class="text-center mb-4">
                <%= recipe.title %>
            </h1>
        </div>

        <div class="row justify-content-center align-items-center mb-5">
            <div class="col-md-6 text-center mb-4 mb-md-0">
                <img src="<%= recipe.image %>" alt="<%= recipe.title %>" class="img-fluid my-4">
            </div>
            <div class="col-md-6 text-center">
                <img src="https://api.spoonacular.com/recipes/<%= recipe.id %>/nutritionLabel.png?apiKey=c380b83969ff408698f2a690b3902130"
                    alt="Nutrition Label" class="img-fluid">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <h4 class="fw-bold">Recipe Details</h4>
                <p><strong>Servings:</strong>
                    <%= recipe.servings %>
                </p>
                <p><strong>Ready in:</strong>
                    <%= recipe.readyInMinutes %> minutes
                </p>
            </div>
        </div>


        <p><b>Ingredients</b></p>
        <ul>
            <% recipe.extendedIngredients.forEach(i=>{ %>
                <li>
                    <%= i.name %>
                </li>
                <% }) %>
        </ul>

        <h3>Instructions:</h3>
        <p>
            <%- recipe.instructions %>
        </p>

        <a href="<%= referer %>" class="btn btn-primary">Back to Previous Page</a>
        <a href="/" class="btn btn-primary">Back To Home</a>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>