<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Mini Project</title>
</head>

<body>
    <div class="container my-4">
        <h3 class="post-title entry-title">
            <%= recipe.title %>
        </h3>

        <div class="row justify-content-center align-items-center mb-5">
            <div class="col-md-6 text-center mb-4 mb-md-0">
                <img src="<%= recipe.image %>" alt="<%= recipe.title %>" class="img-fluid my-4">
            </div>
            <div class="col-md-6 text-center">
                <img src="https://api.spoonacular.com/recipes/<%= recipe.id %>/nutritionLabel.png?apiKey=c380b83969ff408698f2a690b3902130"
                    alt="Nutrition Label" class="img-fluid">
            </div>
        </div>

        <p>
            <b>Ingredients for
                <form method="get" action="/show/<%= recipe.id %>" class="d-inline-block">
                    <select name="servings" class="form-select d-inline-block" style="width: 70px"
                        onchange="this.form.submit()">
                        <!-- Generate the options dynamically from defaultServings to 12 -->
                        <% for (let i=defaultServings; i <=12; i++) { %>
                            <option value="<%= i %>" <%=i===defaultServings ? 'selected' : '' %>><%= i %>
                            </option>
                            <% } %>
                    </select>
                </form>
                servings:
            </b>
        </p>




        <ul>
            <% adjustedIngredients.forEach(i=> { %>
                <li>
                    <%= Number.isInteger(i.adjustedAmount) ? i.adjustedAmount : i.adjustedAmount.toFixed(2) %>
                        <%= i.unit %> of <%= i.name %>
                </li>
                <% }) %>
        </ul>

        <a href="<%= referer %>" class="btn btn-primary">Back to Previous Page</a>
        <a href="/" class="btn btn-primary">Back To Home</a>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>