<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Mini Project</title>
</head>

<body>
    <div class="container mt-4">
        <h1 class="mb-4">
            <%= recipe.TranslatedRecipeName %>
        </h1>

        <p><strong>Cuisine:</strong>
            <%= recipe.Cuisine || 'Not specified' %>
        </p>
        <p><strong>Course:</strong>
            <%= recipe.Course || 'Not specified' %>
        </p>
        <p><strong>Diet:</strong>
            <%= recipe.Diet || 'Not specified' %>
        </p>

        <h3>Ingredients</h3>
        <p>
            <%= recipe.TranslatedIngredients %>
        </p>

        <h3>Instructions</h3>
        <p>
            <%= recipe.TranslatedInstructions %>
        </p>

        <p><strong>Preparation Time:</strong>
            <%= recipe.PrepTimeInMins %> mins
        </p>
        <p><strong>Cooking Time:</strong>
            <%= recipe.CookTimeInMins %> mins
        </p>
        <p><strong>Total Time:</strong>
            <%= recipe.TotalTimeInMins %> mins
        </p>
        <p><strong>Servings:</strong>
            <%= recipe.Servings %>
        </p>


        <p><strong>Source:</strong> <a href="<%= recipe.URL %>" target="_blank">
                <%= recipe.URL %>
            </a></p>


        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>